# ===== Java =====
*.class
*.log
hs_err_pid*
replay_pid*

# ===== Maven =====
target/

# ===== Package formats =====
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar

# ===== IDEs =====

## IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

## VS Code
.vscode/

## Eclipse / STS
.classpath
.project
.settings/
.springBeans
.sts4-cache
.apt_generated
.factorypath

## NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# ===== OS =====
.DS_Store
Thumbs.db

# ===== Docs =====
HELP.md
